* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');
